<%- include('../partials/header') %>

<h1>Prdoucts</h1>
<% products.forEach( product => { %>
  <img width="20%" src="<%= product.image %>" >
  <h3><%= product.title %></h3>
  <button id="<%= product.id %>">View Details</button>
<% })%>

<%- include('../partials/footer') %>